cc.fr.300.bin
tmp/*
input/*
output/*
buffer/*
*.png
keep/*.png
*.h5
*.p
*.csv
!geocodage/geo_cog*
*.npz
*.npy
*.pickle
*.log
!tmp/.gitkeep 
*.txt
__pycache__/*
*.py[cod]
*$py.class
*/__pycache__/*
# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

